<!doctype html>
<html lang="en">
  {% load static %}
  {% load date_converter %}
  <head>
  	<title>تسک ها</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'todo/bootstrap/css/min.css' %}">
    <link rel="stylesheet" href="{% static 'todo/bootstrap/js/bundle.min.js' %}">
    <link rel="stylesheet" href="{% static 'todo/ajax/js/jquery.min.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
  </head>
<body>
<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
      <div class="card-hover-shadow-2x mb-3 card">
        <div dir="rtl" class="card-header-tab card-header">
          <div dir="rtl" class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="fa fa-tasks"></i>&nbsp;لیست تسک ها</div>
          
        </div>
        <div class="scroll-area-sm">
          <perfect-scrollbar class="ps-show-limits">
            <div style="position: static;" class="ps ps--active-y">
              <div class="ps-content">
                <ul class=" list-group list-group-flush">
                  {% for task in tasks %}
                  <li class="list-group-item">
                    <div class="todo-indicator bg-warning"></div>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-2">
                        </div>
                        <div class="widget-content-left">
                          {% if task.state == '3' %}
                            <div class="widget-heading" style="text-decoration: line-through;">عنوان: {{ task.title }}<div class="badge badge-danger ml-2">{{ task.get_state_display }}</div>
                          {% else %}
                          <div class="widget-heading">عنوان: {{ task.title }}<div class="badge badge-danger ml-2">{{ task.get_state_display }}</div>
                          {% endif %}
                          </div>
                          <div class="widget-subheading"><i>شرح: {{ task.description }}</i></div>
                          <!-- <div class="widget-subheading"><i>برچسب(ها): {{ task.tags }}</i></div> -->
                          <div class="widget-subheading"><i>تاریخ ایجاد: {{ task.creation_date|jalali_date_time_convertor }}</i></div>
                          <div class="widget-subheading"><i>تاریخ انجام: {{ task.due_date|jalali_date_convertor }}</i></div>
                          <div class="widget-subheading"><i>آخرین بروز رسانی: {{ task.last_modified|jalali_date_time_convertor }}</i></div>
                          <div class="widget-subheading"><i>ایجاد شده توسط: {{ task.creator }}</i></div>
                        </div>
                      <div class="widget-content-right">
                        <button class="border-0 btn-transition btn btn-outline-success">
                          <i class="fa fa-check"></i></button>
                          <button class="border-0 btn-transition btn btn-outline-danger">
                         <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
        <div class="d-block text-right card-footer"><a href="{% url 'logout' %}" class="mr-2 btn btn-link btn-sm">خروج</a>
          <button class="btn btn-primary">افزودن تسک</button></div>
      </div>
    </div>
</div>
</body>
</html>